<table align="center" class="minibox" style="width:{MINIWIDTH}px">
  <tr>
    <th><a href="Overall.html">Overall</a></th>
    <th><a href="Female.html">Female</a></th>
    <th><a href="Male.html">Male</a></th>
    <th><a href="Latest.html">Latest</a></th>
    <th><a href="Statistics.html">Stats</a></th>
    <th><a href="http://pfrac.co.uk/club-competitions/parkrun-competition/" target="_blank">Info</a></th>
  </tr>
</table>
